:root {
    --primary-color: #FF6700;
    --secondary-color: #fa9107;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --boder-color: #dbdbdb;
    --start-gold-color: #FFCE3E;
    --light-orange-color: #F9920F;
    --success-color: #28A745;
}